<div class="card" *ngIf="!userId">
    <p-chart type="line" [data]="data" [options]="options" class="h-[25rem] custom-chart canvas" />
</div>
<div class="card" *ngIf="userId">
    <p-chart type="bar" [data]="data" [options]="options" class="h-[25rem] custom-chart canvas" />
</div>
<p class="activity-history-heading">Activity History</p>

<p-panel class="activity-container" *ngIf="!userId">
    <ng-container *ngIf="usersList.length !== 0">
        <div *ngFor="let item of usersList">
            <div *ngIf="item['usertype'] === 'child'" class="child-info">
                <p>{{item["name"]}}</p>
                <!--<p>Total Used Time : {{+(item['totalUsedTime']/60).toFixed(2)}}</p>-->
                <p>Total Used Time: {{ item['totalUsedTime'] | minutesToHours }}</p>
                <ng-container *ngIf="item['totalHours'] !== 0">
                    <div
                        [ngStyle]="{'background-color':'#ffffff','padding':'5px','border-radius':'5px', 'color':'#000'}">
                        <ng-container *ngFor="let value of item['apps']">
                            <div class="apps-image" *ngIf="value['enabled']">
                                <img [src]="value.url" class="app-img" />
                                <p>{{value['name']}}</p>
                                <p>{{value['usedTime'] = value['usedTime'] || 0 | minutesToHours }}</p>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</p-panel>

<p-panel class="activity-container" *ngIf="userId">
    <ng-container *ngIf="labelsList.length === 0">
        <h1>No Apps History</h1>
    </ng-container>
    <ng-container *ngIf="labelsList.length !== 0">
        <div *ngFor="let item of usersList['apps']">
            <div class="child-info" *ngIf="item['enabled']">
                <div class="apps-image">
                    <img [src]="item.url" class="app-img" />
                    <p>{{item['name']}}</p>
                    <p>⏱️{{item['usedTime'] = item['usedTime'] || 0 | minutesToHours }}</p>
                </div>
            </div>
        </div>
    </ng-container>
</p-panel>