<div class="child-app">
  <div class="child-app1">
    <!-- Header -->
    <div class="header flex justify-between mb-4 align-items-center">
      <app-header>
      </app-header>
    </div>

    <!-- App Cards -->
    <div class="grid">
      <div *ngIf="apps.length === 0">
        <h1 class="text-center">Child's App Store is currently empty.</h1>
      </div>

      <div class="col-6" *ngFor="let app of apps; let index = index">
        <p-card 
          *ngIf="app?.enabled" 
          [class.disabled]="app.hour && app.hour > 0 && app.usedTimes >= app.hour * 60"
          class="app-card" 
          (click)="onPlay(app, app.website, index)">  
          <button 
            class="app-icon" 
            [disabled]="app.hour && app.hour > 0 && app.usedTimes >= app.hour * 60">
            <img 
              [src]="app?.url" 
              [alt]="app.name + ' Icon'" 
              class="image-app-logo" />
          </button>

          <h3 *ngIf="app?.name" class="text-center">
            {{ app.name }}
          </h3>
        </p-card>
      </div>
    </div>
  </div>
</div>
