<div class="child-app">
  <div class="child-app1">
    <!-- Header -->
    <div class="header flex justify-between mb-4 align-items-center">
      <div class="profile flex align-items-center gap-3">
        <div class="avatar">👦</div>
        <h1 class="m-0">Hi, {{ userObject?.name }}</h1>
      </div>
      <div class="time-circle" (click)="onLogout()">
        <i class="fa-solid fa-power-off"></i>
      </div>
    </div>

    <!-- App Cards -->
    <div class="grid">
      <div class="col-6" *ngFor="let app of apps; let index = index">
        <p-card *ngIf="app?.enabled" [class.disabled]="app.hour && app.hour > 0 && app.usedTime >= app.hour * 60"
          class="app-card">
          <button class="app-icon" [disabled]="app.hour && app.hour > 0 && app.usedTime >= app.hour*60"
            (click)="onPlay(app, app.website, index)">
            <img [src]="app?.url" alt="{{ app.name }} Icon" class="image-app-logo" />
          </button>
          <h3 *ngIf="app?.name" class="text-center">
            {{ app.name }}
          </h3>

          <!-- Optional button version -->
          <!--
          <a 
            *ngIf="app.website" 
            [href]="app.website" 
            target="_blank">
            <button 
              pButton 
              [label]="app.usedTime >= app.hour ? 'TIME UP!' : 'Play'" 
              [disabled]="app.usedTime >= app.hour" 
              class="play-button mt-2">
            </button>
          </a>
          -->
        </p-card>
      </div>
    </div>
  </div>
</div>